# MonoGame specific files
*.mgcb.txt
Content/obj/
Content/bin/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# MonoDevelop/Xamarin Studio
*.userprefs

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
bin/Debug/*
**/bin/*
obj/Debug/net8.0/monogame-test.AssemblyInfo.cs
obj/Debug/net8.0/monogame-test.AssemblyInfoInputs.cache
obj/Debug/net8.0/monogame-test.dll
obj/Debug/net8.0/monogame-test.pdb
obj/Debug/net8.0/ref/monogame-test.dll
obj/Debug/net8.0/refint/monogame-test.dll
